{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<table class="table table-sm">
    <thead>
        <tr>
            <!--There are headers-->
            <th>{{"act"}}</th>
            <th>{{"symbol"}}</th>
            <th>{{"price"}}</th>
            <th>{{"shares"}}</th>
            <th>{{"time"}}</th>
        </tr>
    </thead>
    <tbody>
        {% for t in range(hist|length) %}
            <tr>
                <td>{{hist[t]["act"]}}</td>
                <td>{{hist[t]["symbol"]}}</td>
                <td>{{hist[t]["price"]}}</td>
                <td>{{hist[t]["shares"]}}</td>
                <td>{{hist[t]["time"]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}